@value deckBlue, deckRed from "../../common/colors.module.css";

.answer {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
}
.answer.affirmative {
  color: deckBlue;
}
.answer.negative {
  color: deckRed;
}

.choiceContainer,
.container {
  display: flex;
}

.choiceContainer {
  justify-content: space-around;
}

.confirmation {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.container {
  font-size: 1.5rem;
  grid-area: toolbar;
  justify-content: space-between;
}

.h4 {
  margin-top: 0;
  text-align: center;
}
