@value playingCardWhite from "../../common/colors.module.css";

.prompt,
.round {
  color: playingCardWhite;
  margin-top: 0;
  text-align: center;
}

.prompt {
  margin-bottom: 0.5rem;
}

.round {
  margin-bottom: 0.25rem;
}
