@import-normalize;

* {
  font-family: "Roboto", monospace;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  overscroll-behavior: contain;
  user-select: none;
}
