@value chalk_white from "../../colors.module.css";

.wrapper {
  align-items: center;
  color: chalk_white;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
}

.wrapper.disabled {
  color: gray;
  pointer-events: none;
}
